.statistic-holder {
  display: flex;
  gap: 20px;
}
.statistic-box {
  display: flex;
  flex-direction: column;

  max-width: 380px;
  width: 100%;

  padding: 16px var(--padding-20, 20px);
  gap: 16px;

  border-radius: var(--radius-8, 8px);

  border: 1px solid var(--color-gray-200, #ebedef);
  background: var(--color-base-white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.statistic-top-info {
  .number-and-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.statistic-details-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8, 8px);
  margin-top: auto;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.split {
  width: 100%;
  height: 1px;
  background: var(--color-gray-200, #ebedef);
}
@media screen and (max-width: 768px) {
  .statistic-holder {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .statistic-box {
    max-width: calc(50% - 10px);
  }
  .block-balance-card {
    max-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .statistic-box {
    gap: 12px;
  }
  .statistic-details-info {
    display: none;
  }
  .split {
    display: none;
  }
  .number-and-badge {
    .info-badge {
      padding: 2px 8px;
    }
  }
}
@media screen and (max-width: 389px) {
  .statistic-box {
    padding: 16px 10px;
  }
  .number-and-badge {
    > p {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
    }
    svg {
      display: none;
    }
  }
}
