.item-domain{
    min-height: 72px;
    width: 100%;
    background: var(--color-base-white, #FFF);
    display: flex;
    align-items: center;
    padding: 16px 20px;
    justify-content: space-between;
    transition: all ease 0.5s;
    position: relative;
    .center{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
    &:hover{
        background: var(--color-gray-100, #F3F4F6);
    }
    .icon-place{
        width: 56px;
        display: flex;
        align-items: center;
        padding-left: 8px;
        border-right: 1px solid var(--color-green-200, #A6F4C5);
        min-height: 40px;
    }
    .url{
        display: flex;
        color: var(--color-gray-900, #1F2328);
        font-family: Inter Tight;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 155.556% */
        padding-left: 14px;
        padding-right: 14px;
        .domain{
            color: var(--color-green-500, #12B75F);
            font-family: Inter Tight;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 155.556% */
            padding: 2px 4px;
            min-height: 32px;
            border-radius: 4px;
            border: 1px solid var(--color-green-300, #6CE9A6);
            margin-left: 6px;
        }
    }
    .right{
        display: flex;
        align-items: center;
        gap: 24px;
        min-width: 48px;
        position: relative;
        z-index: 2;
    }
    .left{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    .price{
        color: var(--color-gray-900, #1F2328);
        /* Text LG/Regular */
        font-family: Inter Tight;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
    }
    .are-you-owner{
        display: flex;
        align-items: center;
        gap: 32px;
        p{
            color: var(--color-gray-900, #1F2328);
            font-family: Inter Tight;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            letter-spacing: 0.08px;
        }
        .configure-manually-btn{
            background: transparent;
            border: none;
            color: var(--colors-text-brand-primary-dark, #0094FF);
        }
    }
}
.item-domain-button{
    font-size: 16px;
    line-height: 24px; /* 150% */
    padding: var(--spacing-small-xl, 8px) var(--spacing-middle-xs, 12px);
    box-shadow: unset;
    border-radius: var(--radius-S, 4px);
}

.item-domain--priority{
    background: var(--color-yellow-25, #FFFBF0);
    &:hover{
        background: var(--color-yellow-100, #FEF2CD);
    }
}
.item-domain--unavailable{
    background: var(--color-red-25, #FFFBFA);
    &:hover{
        background: var(--color-red-50, #FEF3F2);
    }
    .url{
        .domain{
            color: var(--color-red-500, #F04738);
            border-color: var(--color-red-500, #F04738);
        }
    }
}

.item-domain-is-loading{
    min-height: 74px;
    .is-loading-item-domain{
        background-color: transparent;
        .image{
            height: 20px;
            border-radius: var(--8px, 8px);
        }
    }
    .icon-place{
        border-right: 0;
        .is-loading-item-domain{
            .image{
                width: 20px;
                border-radius: 100%;
            }
        }
    }
    .left{
        max-width: 400px;
        width: 100%;
    }
    .right{
        max-width: 320px;
        width: 100%;
    }
    .url{
        max-width: 320px;
        width: 100%;
        padding-right: 0;
        .is-loading-item-domain{
            .image{
                max-width: 320px;
                width: 100%;
            }
        }
    }
}
.suggested-domain{
    border-bottom: 1px solid var(--Color-Gray-200, #EBEDEF);
}
.suggested-domain.item-domain--priority{
    border-radius: 8px;
    border: 1px solid var(--Color-Yellow-500, #FCC72C);
}
.suggested-domain.item-domain--unavailable{
    border-radius: 8px;
    border: 1px solid var(--color-red-500, #F04738);
}




@media(max-width: 1200px){
    .item-domain .are-you-owner{
        gap: 15px;
    }
    .item-domain-is-loading .right, .item-domain-is-loading .card{
        max-width: 230px;
        width: 100%;
    }
}
@media(max-width: 1000px){
    .item-domain .center{
        position: relative;
    }
    .item-domain-is-loading .center{
        max-width: 230px;
        width: 100%;
    }
}

@media(max-width: 900px){
    .item-domain .center{
        position: absolute;
        left: 90px;
        right: unset;
        top: 65px;
        .text-sm--regular{
            font-size: 10px;
            line-height: 14px;
        }
        .info-badge--large{
            padding: 2px 12px;
        }
    }
    .item-domain .left{
        padding-bottom: 30px;
    }
    .item-domain--without-left-icon{
        .url{
            padding-left: 0;
        }
        .center{
            left: 20px;
        }
    }
}

@media(max-width: 768px){
    .item-domain{
        flex-direction: column;
        align-items: normal;
        padding: 16px 12px;
    }
    .item-domain .center{
        position: relative;
        left: unset;
        top: unset;
        text-align: left;
        justify-content: start;
        margin-top: 8px;
        padding-left: 28px;
        order: 3;
    }
    .item-domain .left{
        padding-bottom: 0;
    }
    .item-domain .right{
        padding-left: 28px;
        position: initial;
        .item-domain-button{
            position: absolute;
            right: 12px;
            top: 24px;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .item-domain .order-3-mobile{
        order: 3;
        margin-top: 8px;
        .item-domain-button{
            position: unset;
            right: unset;
            top: unset;
        }
    }
    
    .item-domain .icon-place{
        padding: 0;
        min-height: unset;
        width: 28px;
        border-right: 0;
        svg,img{
            max-width: 20px;
        }
    }
    .item-domain .url{
        padding-left: 0;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
    }
    .item-domain--unavailable .url .domain{
        font-size: 16px;
        line-height: 24px;
        padding: 0px 4px;
        min-height: 28px;
        display: flex;
        align-items: center;
    }
    .item-domain .are-you-owner{
        gap: 6px;
    }
    .item-domain .are-you-owner p{
        font-size: 14px;
        line-height: 20px;
    }
    .item-domain .are-you-owner .configure-manually-btn{
        font-size: 14px;
        line-height: 20px;
        padding: 0;
    }
    .item-domain .price{
        font-size: 16px;
        line-height: 24px;
    }
    .item-domain--without-left-icon{
        .right, .center{
            padding-left: 0;
        }
    }
}
@media(max-width: 350px){
    .item-domain .icon-place{
        display: none;
    }
    .item-domain .right, .item-domain .center{
        padding-left: 0;
    }
    .item-domain-is-loading .center, .item-domain-is-loading .right, .item-domain-is-loading .card{
        max-width: 100%;
    }
}