.stepped-progress-bar {
  display: flex;
  gap: var(--spacing-2, 2px);
  width: 100%;
  .progress-bar {
    background: var(--color-gray-100, #f3f4f6);
    min-height: 8px;
    width: 100%;
    &:first-child {
      border-radius: var(--radius-4, 4px) 0 0 var(--radius-4, 4px);
    }
    &:last-child {
      border-radius: 0 var(--radius-4, 4px) var(--radius-4, 4px) 0;
    }
  }
}
.progress-bar--excellent .progress-bar {
  background: var(--color-green-500, #12b75f);
}
.progress-bar--very-good .progress-bar:not(:last-child) {
  background: var(--color-blue-500, #0094ff);
}
.progress-bar--good .progress-bar:not(:nth-last-child(-n + 2)) {
  background: var(--color-blue-400, #52b6ff);
}
.progress-bar--average .progress-bar:nth-child(-n + 2) {
  background: var(--color-yellow-400, #fcd14f);
}

.progress-bar--poor .progress-bar:first-child {
  background: var(--color-red-500, #f04738);
}
